#navbarNav{
    flex-grow: 0.1;
}

.navbar {
    padding-top: 3%;
}

.navbar-brand{
    margin-left: 3vw;
}


.overlay-text{
    padding: 3%;
    font-size:3.5vw;
    float:right;
    width:65%; /*important*/
    bottom:21vw; /*important*/
    padding: 25px;
    background:#f7f7f7;
}
.row{
    flex-wrap: wrap;
}

#square_box {
    display: flex;

}
.mi-photo{
    flex-grow: 0.10;
    z-index: 1;
    border-radius: 50%;
}

.container {
    display: flex;
    align-items: center;
    padding: 5vh 8vw 5vh 8vw;
    margin: 0px;
    width: 100%;
}

section{
    align-items:inherit;
    justify-content:center;
    margin: 0px;
}

.descripcion{
    padding: 5vh 1vw 5vh 1vw;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.destacado {
    color: #fbd349;
}